/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 height:600px;
 background-color: silver;
 position:absolute;
 padding-right: 20px;
 padding-left:20px;
}
#header{
 height: 150px;
 background-color: green;
 margin: 20px auto;
 position: relative;
 
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
}
#main_content{
 height: 400px;
 width: 720px;
 background-color: red;
 position: relative;
 left: 230px;
 bottom: 300px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 position: relative;
 left: 10px;
 top: 10px;
 margin:5px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 position: absolute;
 top: 240px;
 left: 10px;
}
